bin/
data/
build/
src/include/CLI11/
src/include/spdlog/
src/include/abseil-cpp
src/include/CRoaring
src/include/zstd
massif.*
flamegraph.svg
.vscode/
heaptrack*
compile_commands.json
.cache
*.swp
*.log
tools/*.svg
tools/*.png
*.progress
perf.data*
*.bin

